# === Python & Environment ===
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# === Секреты и локальные профили ===
.env
profile.yml

# === Логи, Метрики и Машинное обучение ===
logs/
*.log
*.jsonl
*.csv
stats.json

# === Флаги состояний и Дампы памяти (Computer Vision) ===
pause.flag
temp_sos.png

# === Бинарники и сторонние утилиты ===
*.exe
*.dll
scrcpy-server
scrcpy-noconsole.vbs

# === ЗАЩИТА ИС (Скрываем визуальные шаблоны, если нужно) ===
# assets/ 
# (Раскомментируй строку выше, если решишь не отдавать картинки для защиты от перепродажи)

# === OS & IDE ===
.vscode/
.idea/
.DS_Store
Thumbs.db

assets/